<div id="page_wrapper">
<div id="profile_image">
<!-- < image_tag @page.image.url(:medium) %> -->
<img src="majed.jpg" class="img-circle img-responsive" alt="Cinque Terre" width="50px" right="6em" top="3em" >

</div>
<br>
<div id="content">
<!-- <h2 class="title">< @page.title%></h2> -->
<!-- < @page.body%><br><br><br> -->
<!-- Updated < time_ago_in_words(@page.updated_at) %> Ago<br><br> -->

<!-- < unless session[:username].blank?%> -->
<!-- <= link_to 'Edit', edit_page_path(@page), class: 'button' %> -->
<!-- <end%> -->

  <h1>Hello, I'm Majed Bojan</h1>
  <h4>
    Welcom To My Site am ROR developer with basic understanding of react js,
    find me more on Twitter as <a href="http://facebook.com/majedbojan">majedbojan</a> or Facebook as <a href="http://facebook.com/majedbojan">majedbojan</a>
  </h4>
  </p
</div>

<div>
