<p>
<%= image_tag @profile.image.url(:medium) %>
</p>
<p>
  <%= link_to 'Edit', edit_profileimage_path(@profile), class: 'button' %>
</p>
 <!--  <= link_to 'Delete', post_path(@post), class: 'button', method: :delete, data:{confirm: 'Are you sure?'} %>
 -->